<h1>Edit Workout</h1>

<%= form_for @workout do |f| %>

  <div class="mb-3">
    <%= f.label :name, :class => 'form-label' %>
    <%= f.text_field :name, :required => true, :class => 'form-control' %>
  </div>

  <%= f.submit "Update Workout Name", :class => "btn btn-primary" %>
<% end %>

<div class="mt-2"><%= button_to "Add New Exercise", new_workout_round_path(@workout), :method => "get", :class => "btn btn-success" %></div>

<h2 class="mt-4">Exercises in this workout </h2>

<% if @rounds.empty? || @rounds.nil? %>
  <p>No exercises added.</p>
<% else %>
<ol>
  <% @rounds.each do |round| %>
    <% @obj["exercises"].each do |exercise| %>
      <% if exercise["Exercise_Id"] == round['exercise_id'] %>
      <li>
        <strong><%= "#{exercise["Exercise_Name_Complete"]}" %></strong>
        <div class="row">
          <div class="col">
          <% if round.reps.present? %>
            <p>
              <% unless round.weight.nil? || round.weight.empty? %>
                <%= "#{round.weight} kg -" %>
              <% end %>
              <%= "#{round.sets} x #{round.reps} reps" %>
            </p>
          <% end %>
          <% if round.time.present? %>
            <p>
              <% unless round.weight.nil? || round.weight.empty? %>
                <%= "#{round.weight} kg -" %>
              <% end %>
              <%= "#{round.sets} x #{round.time}" %>
            </p>
          <% end %>
            <p>
              <%= image_tag exercise["GIF_Img"] %>
            </p>
          </div>
        <% end %>
      <% end %>
          <div class="col-10 align-self-end mb-4 edit_options">
              <%= button_to "Edit Exercise", edit_workout_round_path(@workout, round), :method => "get", :class => 'btn btn-primary btn-sm mb-2'%>
              <%= button_to "Remove", [@workout, round], :method => "delete", :class => 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </li>
  <% end %>
</ol>
<% end %>

<%= link_to 'Go Back', :back %>
