<h1>Edit Workout</h1>

<%= form_for @workout do |f| %>

  <div class="mb-3">
    <%= f.label :name, :class => 'form-label' %>
    <%= f.text_field :name, :required => true, :class => 'form-control' %>
  </div>

  <%= f.submit "Update Workout Name", :class => "btn btn-primary" %>
<% end %>

<h2><%= button_to "Add New Exercise", new_workout_round_path(@workout), :method => "get", :class => "btn btn-success" %></h2>

<h2>Exercises in this workout </h2>
<ol>
  <% @rounds.each do |round| %>
    <% @obj["exercises"].each do |exercise| %>
      <% if exercise["Exercise_Id"] == round['exercise_id'] %>
      <li>
        <h5><%= "#{exercise["Exercise_Name_Complete"]}" %></h5>

          <% if round.reps.present? %>
            <p>
              <%= "#{round.sets} x #{round.reps} reps" %>
            </p>
          <% end %>
          <% if round.time.present? %>
            <p>
              <%= "#{round.sets} x #{round.time}" %>
            </p>
          <% end %>
            <p>
              <%= image_tag exercise["GIF_Img"] %>
            </p>
        <% end %>
      <% end %>
        <div class="mb-4 edit_options">
            <%= button_to "Edit Round", edit_workout_round_path(@workout, round), :method => "get", :class => 'btn btn-primary btn-sm'%>
            <%= button_to "Remove Round", [@workout, round], :method => "delete", :class => 'btn btn-danger btn-sm' %>
        </div>
      </li>
  <% end %>
</ol>

<%= link_to 'Go Back', :back %>
