<h1 class="mt-5 mb-3"><%= @workout.name %></h1>

<ol>

  <% @rounds.each do |round| %>
    <% @obj["exercises"].each do |exercise| %>
      <% if exercise["Exercise_Id"] == round['exercise_id'] %>
      <div class="row">
        <div class="col">
        <li>
          <strong><%= "#{exercise["Exercise_Name_Complete"]}" %></strong>
        </li>
        <p>
          <% unless round.weight.nil? || round.weight.empty? %>
            <%= "#{round.weight} kg -" %>
          <% end %>
          <%= "#{round.sets} x #{round.reps} reps" %>
        </p>
        <p>
          <%= image_tag exercise["GIF_Img"] %>
        </p>
        </div>
        <div class="col-9 align-self-center">
        <p>
          <%= "#{exercise["Instructions_Preparation"] + " " + exercise["Instructions_Execution"]}" %>
        </p>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>

</ol>

<div class="controls">
  <%= button_to 'Edit workout', edit_workout_path(@workout), :method => 'get', :class => 'ms-4 btn btn-primary' %>
  <%= button_to 'Delete workout', @workout, :method => 'delete', :class => ' ms-4 mt-2 mb-4 btn btn-danger', :data => { :confirm => 'Are you sure you want to delete this workout?' } %>
</div>

<%= link_to 'Go Back', :back, :class => "ms-4" %>
