<h1 class='animate__animated animate__bounce'>Sign up</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>

  <div class="mb-3">
    <%= f.label :email, :class => 'form-label' %>
    <%= f.email_field :email, :class => 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :password, :class => 'form-label' %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, :class => 'form-label' %>
    <%= f.password_field :password_confirmation, :class => 'form-control'  %>
  </div>

  <%= f.submit "Create Account", :class => 'btn btn-primary btn-lg' %>
<% end %>
